.checkout-container {
  display: flex;
  flex: 14;
  flex-direction: column;
  background-color: #fff;
}

.checkout-basket {
  display: flex;
}
.checkout-img {
  width: 500px;
}
.checkout-basket h2 {
  margin-left: 20px;
}
.checkout-img img {
  width: 100%;
  object-fit: contain;
}

.checkout-fill h2 {
  margin-left: 20px;
}

.checkout-fill-img {
  width: 100%;
}

.checkout-fill-img img {
  width: 100%;
  height: 200px;
}

.checkoutWrapper {
  display: flex;
}
